/* === RESET STYLES === */
/* Resetting default browser styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "PT Sans", sans-serif;
}



a.buttom{
    background-color: #ffffff;
    color: #000000;
    font-size: 18px;
    text-decoration: none;
    padding: 12px 12px;
    border-radius: 50px;
   }




/* === GLOBAL STYLES === */
/* Global container */

/* === HEADER STYLES === */
/* Header section */
header{
    display: block;
    height: 76px;
    background-color: #0084fd;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;
    margin: 0 auto;
}

.all-nav{
    background-color: #0084fd;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1190px;
    margin: 0 auto;
    padding: 0 35px;
    
}

/* === NAVIGATION STYLES === */
/* Navigation bar */

nav{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    padding: 0 1px;
}

.nav-right{
    color: #fff;
    font-size: 17px;
}

.nav-right li{
    padding: 0 20px;
}

.nav-right ul{
    display: flex;
    list-style-type: none;
    text-align: center;
}


/* Navigation links */


/* === MAIN CONTENT STYLES === */
/* Main content area */

.container-intro{
    max-width: 1190px;
    padding: 0  20px;
    margin: 0 auto;
    margin-bottom: 120px;
}

.row{
    margin-top: 50px;
    display: flex;
    margin-left: -10px;
    margin-right: -10px;
    flex-grow: 1;
    margin-bottom: -25px;
}


.col{
    padding: 0 20px;
    
}

#intro .col-big{
    flex-grow: 1;
}

#intro .col{
    width: calc(100% / 3);
    margin-bottom: 10px;
}


.card-big{
    background-color: #b5ddff;
    padding: -10px;
    border-radius: 14px;
    display: flex;
}

.demo-left{
    width: 50%;
}

.contain-demo h1{
    padding: 20px;
    font-size: 24px;
    color: #0084fd;
}

.contain-demo p{
    padding: 15px;
    font-size: 18px;
    color: #526574;
    font-weight: 800;
}

.contain-demo button{
    background-color: #0084fd;
    color: #ffffff;
    font-size: 18px;
    margin-top: 15px;
    margin-bottom: 71px;
    padding: 9px 40px;
    border-radius: 20px;
    margin-left: 15px;
    border: none;
}

.demo-right{
    width: 50%;
    display: flex;
    align-items: end;
    justify-content: center;
}


.phone{
    height: 270px;
    display: flex;
}

.card-small{
    background-color: #b5ddff;
    padding: 10px;
    border-radius: 14px;
    text-align: center;
}

.card-small .item{
    font-size: 75px;
    color: #0084fd;
    padding: 15px;
}

.card-small h1{
    padding: 10px;
    font-size: 24px;
    color: #0084fd;
}

.card-small p{
    padding: 15px;
    font-size: 18px;
    color: #526574;
    font-weight: 800;
}

/* plans */

#planning{
    background-color: #9792e4;
    margin: 10px;
}

#planning .col{
    width: calc(100% / 2 - 160px);
    margin-bottom: 64px;
    margin-top: 130px;
}

.container-planning{
    max-width: 1190px;
    padding: 0 20px;
    margin: 0 auto;
}

.row-pla{
    margin-top: 50px;
    display: flex;
    margin-left: -10px;
    margin-right: -10px;
    margin-bottom: -25px;
    display: flex;
    justify-content: center;
}

.plan-2{
    height: 210px;
    display: flex;
    margin: 0 auto;
}

.card-small-plan{
    background-color: #ffffff;
    padding: 10px;
    border-radius: 50px;
    text-align: center;
    margin-top: 180px;
}

.card-small-plan .item{
    font-size: 75px;
    color: #0084fd;
    padding: 15px;
}

.card-small-plan h1{
    padding: 10px;
    font-size: 24px;
    color: #000000;
}

.card-small-plan p{
    padding: 13px 20px 0 20px ;
    font-size: 17px;
    color: #0d0d0d;
    font-style: italic;
    text-align: center;
    font-weight: 500;
}

.card-small-plan button{
    background-color: #9792e4;
    color: #ffffff;
    margin-top: 35px;
    margin-bottom: 30px;
    padding: 14px;
    border-radius: 100%;
    border: none;
}

.card-small-plan .item-black{
    color: #000000;
    font-size: 20px;
}


.card-small-plan-1{ 
    text-align: start;
}

.plan-1{
    height: 350px;
    display: flex;
    
}

.card-small-plan-1 h1{
    font-size: 30px;
    color: #ffffff;
    padding-top: 80px;
    padding-bottom: 50px;

}

.card-small-plan-1 p{
    font-size: 14px;
    color: #ffffff;
    font-weight: 500;
    text-align: start;
    line-height: 25px;
}

/* PARTNERS */

.head-pat{
    max-width: 1190px;
    padding: 0 205px;
    margin: 0 auto;
    margin-top: 55px;
}

.pat-contain * {
    padding: 10px;
    text-align: center;
}

.pat-contain h3{
    font-size: 19px;
    color: #121212;
}

.pat-contain h4{
    font-size: 40px;
    color: #9792e4;
}

.pat-contain p{
    font-size: 18px;
    color: #121212;
}


.container-patner{
    background-color: #9792e4;
    display: flex;
    max-width: 1190px;
    padding: 0 20px;
    margin: 30px auto;
    border-radius: 30px;
}


.card-test{
    width: 25%;
}

.text-card-test{
    width: 75%;
}

.man-1{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    padding: 20px 10px;
}

.marks{
    font-size: 20px;
    
}

.text-card-test p{
    color: white;
    font-size: 20px;
    padding-top: 55px;
}

.text-card-test h2{
    color: white;
    font-size: 20px;
    padding: 20px 0px;
    display: flex;
    text-align: center;
    
}

/* === FOOTER STYLES === */
/* Footer section */
.footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}


/* === Media Queries === */


@media screen and (max-width: 1200px) {
    .menu-bar{
        display:none;
    }
    
  }

@media screen and (max-width: 992px) {

    .header{
        width: 100%;
    }

    .nav-right {
        display: none;
    }

    .nav-right {
        display: none;
    }
  }


  @media screen and (max-width: 992px) {
    body {
      width: 100%;
    }
  }